.carousel-caption {
  animation: fadeInUp 1s ease;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilo único para las imágenes del carrusel */
.carousel-image {
  max-height: 350px;
  width: 850px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}
